[DEFAULT]
batch_size = 9000
update_cycle = 1
device_list = [0,1,2,3]
half = True

exp_dir = exp
datadir = /data/private/cc/data

model = mask_align

[agree_deen]
train_input = ['${datadir}/train/deen/deen.train.src', '${datadir}/train/deen/deen.train.tgt']
valid_input = ['${datadir}/train/deen/deen.valid.src', '${datadir}/train/deen/deen.valid.tgt']
vocab = ['${datadir}/train/deen/vocab.deen.src.txt', '${datadir}/train/deen/vocab.deen.tgt.txt']
test_input = ['${datadir}/test/deen.lc.src.bpe', '${datadir}/test/deen.lc.tgt.bpe']
test_ref = ${datadir}/test/deen.talp

label = agree_deen
output = ${exp_dir}/${label}

[agree_enfr]
train_input = ['${datadir}/train/enfr/enfr.train.src', '${datadir}/train/enfr/enfr.train.tgt']
valid_input = ['${datadir}/train/enfr/enfr.valid.src', '${datadir}/train/enfr/enfr.valid.tgt']
vocab = ['${datadir}/train/enfr/vocab.enfr.src.txt', '${datadir}/train/enfr/vocab.enfr.tgt.txt']
test_input = ['${datadir}/test/enfr.lc.src.bpe', '${datadir}/test/enfr.lc.tgt.bpe']
test_ref = ${datadir}/test/enfr.talp

label = agree_enfr
output = ${exp_dir}/${label}

[agree_roen]
train_input = ['${datadir}/train/roen/roen.train.src', '${datadir}/train/roen/roen.train.tgt']
valid_input = ['${datadir}/train/roen/roen.valid.src', '${datadir}/train/roen/roen.valid.tgt']
vocab = ['${datadir}/train/roen/vocab.roen.src.txt', '${datadir}/train/roen/vocab.roen.tgt.txt']
test_input = ['${datadir}/test/roen.lc.src.bpe', '${datadir}/test/roen.lc.tgt.bpe']
test_ref = ${datadir}/test/roen.talp

label = agree_roen
output = ${exp_dir}/${label}

[agree_zhen]
train_input = ['${datadir}/train/zhen/zhen.train.src', '${datadir}/train/zhen/zhen.train.tgt']
valid_input = ['${datadir}/train/zhen/zhen.valid.src', '${datadir}/train/zhen/zhen.valid.tgt']
vocab = ['${datadir}/train/zhen/vocab.zhen.src.txt', '${datadir}/train/zhen/vocab.zhen.tgt.txt']
test_input = ['${datadir}/test/zhen.lc.src.bpe', '${datadir}/test/zhen.lc.tgt.bpe']
test_ref = ${datadir}/test/zhen.talp

label = agree_zhen
output = ${exp_dir}/${label}