[DEFAULT]
model = transformer
hidden_size = 512
filter_size = 2048
num_decoder_layers = 6
num_encoder_layers = 6
num_heads = 8
shared_embedding_and_softmax_weights = True
shared_source_target_embedding = False
normalization = after

[transformer_align]
model = transformer_align
hidden_size = 512
filter_size = 1024
num_heads = 4
src_eos = True
tgt_eos = True
shift = False
extract_method = t2s
extract_th = 0.0
alignment_layer = [-2]
remove_punc = False

[mask_align]
model = mask_align
hidden_size = 512
filter_size = 1024
num_heads = 4
src_eos = False
tgt_eos = False
extract_method = soft
extract_th = [0.2]
alignment_layer = [-1]
remove_punc = False
last_cross = True
leaky_encdec_attn = True
agree_training = True
agree_alpha = 5
entropy_loss = True
entropy_beta = 1
renorm_lamb = 0.05

